.asteroidsGroup {
  margin-top: 150px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  z-index: 1;
  gap: 24px;
  .asteroids {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .asteroidsSection {
    display: flex;
    flex-direction: column;
    gap: 8px;
    h1 {
      font-family: Helvetica;
      font-size: max(28px, 1.458vw);
      font-style: normal;
      font-weight: 700;
      line-height: max(36px, 1.875vw);
      padding-right: 0.5rem;
      color: var(--white-base);
    }
    .sectionKmLunar {
      display: flex;
      gap: 0.5rem;
      h1 {
        cursor: pointer;
        color: var(--white-base);
        font-family: Helvetica;
        font-size: max(16px, 0.833vw);
        font-style: normal;
        font-weight: 700;
        line-height: max(24px, 1.25vw);
        padding: 0;
      }
      .middleLine {
        color: var(--white-base, #fff);
        font-size: max(16px, 0.833vw);
      }
      .selected {
        color: var(--white-base, #fff);
        font-family: Helvetica;
        font-size: max(16px, 0.833vw);
        font-style: normal;
        font-weight: 400;
        line-height: max(24px, 1.25vw);
        text-decoration-line: underline;
      }
    }
  }
  .footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem 1rem;
    z-index: 2;
    h1 {
      color: var(--white-base);
      font-family: Helvetica;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }
  }
  .loadMore {
    color: var(--white-base);
  }
}

@media (max-width: 768px) {
  .asteroidsGroup {
    margin-left: 15%;
  }
}
