.asteroid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin: 0.5rem 0;
  h1 {
    color: var(--white-base);
    font-family: Helvetica;
    font-size: max(24px, 1.25vw);
    font-style: normal;
    font-weight: 700;
  }
  h2 {
    font-weight: 400;
  }
  .approach_data {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    .asteroidSize {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .asteroidLink {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      a {
        color: var(--white-base);
        text-align: center;
        font-family: Helvetica;
        font-size: max(16px, 0.833vw);
        font-style: normal;
        font-weight: 400;
        line-height: max(24px, 1.25vw);
      }
      h2 {
        text-align: left;
        font-size: max(12px, 0.625vw);
        font-style: normal;
        font-weight: 400;
        line-height: max(16px, 0.833vw);
      }
    }
    h2 {
      color: var(--white-base);
      text-align: center;
      font-family: Helvetica;
      font-size: max(16px, 0.833vw);
      font-style: normal;
      font-weight: 400;
      line-height: max(24px, 1.25vw);
    }
  }
  .orderSection {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    button {
      display: flex;
      padding: 2px 11px;
      align-items: center;
      gap: 2px;
      border-radius: 16px;
      background-color: var(--orange-smooth);
      color: var(--orange-base);
      font-family: Helvetica;
      font-size: max(11px, 0.573vw);
      font-style: normal;
      font-weight: 700;
      line-height: max(20px, 1.042vw);
      letter-spacing: 1px;
      border: none;
      &:hover {
        background: var(--orange-base);
        color: var(--white-base);
      }
    }
    .inCart {
      background: rgba(248, 102, 0, 0.15);
      color: var(--white-base);
    }
    .hazardous_asteroid {
      color: var(--gray-30);
      font-family: Helvetica;
      font-size: max(14px, 0.729vw);
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      span {
        color: yellow;
      }
    }
  }
}
